{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <h1>Bonjour {{ app.user.username }}</h1>
    {% else %}
        <h1>Bonjour</h1>
    {% endif %}
    

{% endblock %}
